@model MVC_ComponenteCodeFirst.Models.Pedido

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <h6>Precio: @Model.Precio</h6>
    <hr />
    
        @foreach(var item in Model.Ordenadores)
        {
        <table class="table">
            <tr>
                <th>Ordenador: </th>
                <td>@item.Name</td>
            </tr>
            <tr>
                <th>Precio: </th>
                <td>@item.Precio</td>
            </tr>
            <tr>
                <th>
                    Componentes
                </th>
                <td>
                    @await Component.InvokeAsync("DetailsComponentes", new{lista = item.Componentes})
                </td>
            </tr>
        </table>
        }
        
    
</div>
